<app-header></app-header>
<div class="container fullscreen justify-content-center">
    <div class="form-container">
        <h2 class="title  ml-5">Ingrese los datos de la formación académica</h2>
       
        <form (ngSubmit)="onUpdate()">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="about.name" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="form-group">
                <label for="lastname">Apellido</label>
                <input type="text" class="form-control" id="lastname" [(ngModel)]="about.lastname" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="form-group">
                <label for="birthday">Cumpleaños</label>
                <input type="date" class="form-control" id="birthday" [(ngModel)]="about.birthday" [ngModelOptions]="{standalone: true}">
            </div>
            <div class="form-group">
                <label for="title">Título</label>
                <input type="text" class="form-control" id="title" [(ngModel)]="about.title" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <input type="text" class="form-control" id="description" [(ngModel)]="about.description" [ngModelOptions]="{standalone: true}" required>
            </div>
            <div class="form-group">
                <label for="img_profile">Foto de perfil</label>
                <input type="file" class="form-control" id="img_profile" [(ngModel)]="about.img_profile" [ngModelOptions]="{standalone: true}" required (change)="uploadImg($event)" accept=".jpg,.jpeg,.png">
            </div>

            <div>
                <button type="submit" class="btn btn-primary btn-lg">Actualizar información personal</button>
            </div>
        </form>
    </div>
</div>
     
<app-footer></app-footer>
