<div class="container">
    <h3>footer works!</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nihil omnis voluptatem vero esse et architecto modi nobis alias expedita enim illo ex facilis, dolorem commodi. Autem mollitia nulla ducimus?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis maxime rem, tempore dicta nam aspernatur ipsam consectetur accusamus eaque nesciunt alias sit laboriosam. Eius et labore nam quasi quisquam aliquam.</p>
</div>