
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
        <a class="textredes float-md-start mb-0" href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank"><img src="./../../../assets/images/argprog.png" alt="Logo Argentina Programa" class="logoAP"></a>

        <a class="textredes float-md-end mb-0" routerLink="/login"><img src="./../../../assets/images/user.png" alt="Usuario" class="imgredes"></a>
        
        <a class="textredes float-md-end mb-0" href="https://github.com/MicaX2" target="_blank"><img src="./../../../assets/images/logogit.png" alt="GitHub" class="imgredes"></a>
        
        <a class="textredes float-md-end mb-0" href="https://instagram.com/mica.rasso" target="_blank"><img src="./../../../assets/images/logoinsta.png" alt="Instagram" class="imgredes"></a>
        
        <a class="textredes float-md-end mb-0" href="https://www.linkedin.com/in/micaela-rasso-18a76b208/" target="_blank"><img src="./../../../assets/images/logolinked.png" alt="LinkdIn" class="imgredes"></a>
        
        
        <!--
        <app-nav></app-nav>
        -->
    </header>
</div>
