.logoAP{
    height: 10vh;
}
.textredes{
    font-size: 10px;
    font-weight: bold;
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
}

.imgredes{
    height: 6vh;
    width: auto;
    padding: 5px;
    margin: 10px;
    background-color: rgba(221, 100, 147) ;
    border-style: none;
    border-radius: 40px;
}
.imgredes:hover{
    background-color: rgba(222, 136, 238, .5);
}
.cover-container {
    max-width: 60em;
  }
  

    