
<app-header></app-header>
<div class="px-3 container fullscreen">
    <h1 class="text-center">ERROR 404</h1>
    <h2 class="text-center">¿Te equivocaste vos o me equivoqué yo?</h2>
    <p class="text-center">Parece que la página que buscas no existe. Tal vez nunca haya existido ¿Quién sabe?</p>
    <p class="text-center">Mejor volvamos a la pagina principal</p>
    <p class="text-center">
      <a routerLink="" class="btn btn-primary btn-lg">Inicio</a>
    </p>
</div>
<div>
  <app-footer></app-footer>
</div>
