<!--<h2>¿Te equivocaste vos o me equivoqué yo?</h2>
<p>Pagina no encontrada</p>
<img src="./../../../assets/page404-jpg">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nihil omnis voluptatem vero esse et architecto modi nobis alias expedita enim illo ex facilis, dolorem commodi. Autem mollitia nulla ducimus?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis maxime rem, tempore dicta nam aspernatur ipsam consectetur accusamus eaque nesciunt alias sit laboriosam. Eius et labore nam quasi quisquam aliquam.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus nihil omnis voluptatem vero esse et architecto modi nobis alias expedita enim illo ex facilis, dolorem commodi. Autem mollitia nulla ducimus?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis maxime rem, tempore dicta nam aspernatur ipsam consectetur accusamus eaque nesciunt alias sit laboriosam. Eius et labore nam quasi quisquam aliquam.</p>
-->
<div class="px-3 container">
    <h1>¿Te equivocaste vos o me equivoqué yo?</h1>
    <p class="lead">Parece que la página que buscaste no existe. Tal vez nunca haya existido ¿Quién sabe?</p>
    <p class="lead">Mejor volvamos a la pagina principal</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Inicio</a>
    </p>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis maxime rem, tempore dicta nam aspernatur ipsam consectetur accusamus eaque nesciunt alias sit laboriosam. Eius et labore nam quasi quisquam aliquam.</p>

</div>
