<!--OPCION 1-->
<!--<div class="container">
    <div class="row">
        <div class="cont_img col-3 center">
            <img class="img-fluid" src="./../assets/images/perfil.jpg">
        </div>
        <div class="col-9">        
            <div class="row">
                <h1 class="text-center title">Micaela Rasso</h1>
                <h5 class="text-center subtitle">Programadora FullStack Jr.</h5>
                <p class="text-center text">22 años</p>
                <div class="row">
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>                
                </div>
            </div>
            
        </div>
        
    </div>
    <div class="col-9">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>
    </div>
</div>-->

<!--OPCION 2-->
<!--
<div class="container">
    <div class="row">
        <div class="cont_img col-3 center">
            <img class="img-fluid" src="./../assets/images/perfil.jpg">
        </div>
        <div class="col-9">        
            <div class="row">
                <h1 class="text-center title">Micaela Rasso</h1>
                <h5 class="text-center subtitle">Programadora FullStack Jr.</h5>
                <p class="text-center text">22 años</p>
                <div class="row">
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>                
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!--OPCION 3
<div class="container">
    <div class="row">
        <div class="col-3 center ">
            <div class="cont-img">
                <img class="img-fluid" src="./../assets/images/perfil.jpg">
            </div>
            <div class="row">
                <h1 class="text-center title">Micaela Rasso</h1>
                <h5 class="text-center subtitle">Programadora FullStack Jr.</h5>
                <p class="text-center text">22 años</p>
            </div>
        </div>
            <div class="col-9 ">
                <div class="row">
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>
                        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>                
                </div>
            </div>
        </div>
    </div>
-->
<div class="container">
    <div class="">
        <img class="img-fluid" id="banner" src="../../../assets/images/banner.png" alt="Banner">
    </div>
    <div class="row">
        <div class="cont_img center col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img class="img-fluid" id="perfil" src="./../assets/images/perfil.jpg">
        </div>
        <div class=" col-xs-12 col-sm-9 col-md-9 col-lg-9">        
            <div class="row">
                <h1 class="text-center title">Micaela Rasso</h1>
                <h5 class="text-center subtitle">Programadora FullStack Jr.</h5>
                <p class="text-center text">22 años</p>
                <div class="row">
                    <p class="text">
                        Buenas tardes! Todavia no se que escribir acá, así que voy a avanzar con el proyecto y espero que se me caiga al menos una idea antes de la fecha de entrega  
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
