<div class="container">
    <div class="row">
        <div class="col-3 center">
            <img src="./../assets/images/perfil.png">
        </div>
        <div class="col-9">        
            <h1 class="text-center">Micaela Rasso</h1>
            <h5 class="text-center">Programadora FullStack Jr.</h5>
            <p class="text-center">22 años</p>
        </div>
    </div>
    <div class="row">
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit explicabo enim itaque, facere rerum cum fugiat fugit! Fugit, dolorem excepturi libero fugiat quas eveniet doloribus, possimus voluptate doloremque, magnam ullam!</p>
    </div>
</div>
