<app-header></app-header>
<div class="container fullscreen justify-content-center">
    <div class="form-container">
        <h2 class="title  ml-5">Ingrese los datos de la experiencia laboral</h2>
        <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
            <div class="form-group">
                <label for="title">Titulo</label>
                <input type="text" class="form-control" id="title" formControlName="title" [(ngModel)]="title" required>
            </div>
            <div class="form-group">
                <label for="iDate">Fecha de inicio</label>
                <input type="date" class="form-control" id="iDate" formControlName="iDate" [(ngModel)]="iDate" required>
            </div>
            <div class="form-group">
                <label for="fDate">Fecha de finalización</label>
                <input type="date" class="form-control" id="fDate" formControlName="fDate" [(ngModel)]="fDate">
            </div>
            <div class="form-group">
                <label for="description">Descripción de tareas</label>
                <input type="text" class="form-control" id="description" formControlName="description" [(ngModel)]="description" required>
            </div>
            <div class="form-group">
                <label for="company">Descripción de tareas</label>
                <input type="text" class="form-control" id="company" formControlName="company" [(ngModel)]="company" required>
            </div>
            

            <div>
                <button type="submit" class="btn btn-primary btn-lg">Agregar experiencia laboral</button>
            </div>
        </form>

    </div>
   
   
   
  <!--    <div class="container m-8 d-flex justify-content-center">
        <form class="gap-3 form-container" [formGroup]="userForm">
            <div class="form-group mb-3">
                <label for="email">Mail</label>
                <input type="text" class="form-control" id="email" formControlName="email">
                <p 
                    class="bg-danger text-light mt-1 px-2 rounded alert-text"
                    *ngIf="(form.email.dirty ||form.email.touched) && form.email.errors && validated"    
                >
                    <ng-container [ngSwitch]="form.email.value">
                        <ng-container *ngSwitchCase="''">
                            El mail es requerido
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            El mail es invalido
                        </ng-container>
                    </ng-container>
                </p> 
            </div>
            <div class="form-group mb-3">
                <label for="password">Contraseña</label>
                <input type="password" class="form-control" id="password" formControlName="password">
                <p 
                class="bg-danger text-light mt-1 px-2 rounded alert-text"
                *ngIf="(form.password.dirty ||form.password.touched) && form.password.errors && validated"    
            >
                <ng-container [ngSwitch]="form.password.value">
                    <ng-container *ngSwitchCase="''">
                        La contraseña es requerida
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        La contraseña debe tener entre 5 y 10 caracteres
                    </ng-container>
                </ng-container>
            </p>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
        </form>
    -->

</div>
     
<app-footer></app-footer>