<div class="container">
    <div class="row">

        <h3 class="title col-lg-9 col-md-9 col-sm-9 col-xs-9">Formación académica</h3>
    
        <div *ngIf="isLogged" class="mb-3 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <button routerLink="/newAca" class="btn btn-edit-elim"><img src="../../../assets/images/plus.svg" alt="agregar formación académica"></button>
        </div>

    </div>
    
    <div class="row">
        <div class="box col-xs-12 col-sm-4 col-md-4 col-lg-4" *ngFor="let item of aca">
            <h4 class="subtitle">{{item.title}}</h4>
        
            <h5 class="text" *ngIf="item.fDate!=null">({{item.iDate}} - {{item.fDate}})</h5>
            <h5 class="text" *ngIf="item.fDate==null">({{item.iDate}})</h5>
        
            <p class="text">{{item.institute}}</p>


            <div *ngIf="isLogged" class="editbtn">
                <button routerLink="/editAca/{{item.id}}"  class="btn btn-edit-elim"><img src="../../../assets/images/pen.svg" alt="editar"></button>
                <button class="btn btn-edit-elim"><img src="../../../assets/images/trash.svg" alt="eliminar" (click)="deleteAca(item.id)"></button>
            </div>
        </div>
    </div>
</div>