<style>
    @import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
</style>

<!--<a routerLink="/header">Header</a>-->
<!--
<div class="container">
    <ul>
        <li>
            <a routerLink="/aboutme" class="navElems">Sobre mi</a>
        </li>
        <li>
            <a routerLink="/academic" class="navElems">Formación académica</a>
        </li>
        <li>
            <a routerLink="/skills" class="navElems">Habilidades</a>
        </li>
        <li>
            <a routerLink="/proyects" class="navElems">Proyectos</a>
        </li>
    </ul>    
</div>
-->


<div>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link fw-bold py-1 px-0 active" aria-current="page" routerLink="/aboutme">Sobre mi</a>
      <a class="nav-link fw-bold py-1 px-0" routerLink="/academic">Formación académica</a>
      <a class="nav-link fw-bold py-1 px-0" routerLink="/skills">Habilidades</a>
      <a class="nav-link fw-bold py-1 px-0" routerLink="/proyects">Proyectos</a>
    </nav>
  </div>