<!--
<div class="container">
    <h3>proyect works!</h3>
     <app-proyectcard></app-proyectcard>
</div>
-->
<div class="container">
    <h3 class="title">Proyectos</h3>
    <div class="box col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <h4 class="subtitle">titulo</h4>
        <div class="imgs">
           <img class="imgproyect img-fluid" src="../../../assets/images/NailSalon/filter1-screen.png" alt="Proyecto Salon de uñas">
        </div>
        <p class="text">descripcion</p> 
    </div>
</div>