<!--<div class="container m-5 d-flex justify-content-center">
    <form class="gap-3 w-50" [formGroup]="userForm" (ngSubmit)="logIn()">
       
        <div class="form-group mb-3">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <p 
                class="bg-danger text-light mt-1 px-2 rounded alert-text"
                *ngIf="(form.name.dirty ||form.name.touched) && form.name.errors && validated"    
            >
                <ng-container [ngSwitch]="form.name.value">
                    <ng-container *ngSwitchCase="''">
                        El nombre es requerido
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        El nombre es invalido
                    </ng-container>
                </ng-container>
            </p>
        </div>
        

        <div class="form-group mb-3">
            <label for="lastname">Apellido</label>
            <input type="text" class="form-control" id="lastname" formControlName="lastname">
            <p 
                class="bg-danger text-light mt-1 px-2 rounded alert-text"
                *ngIf="(form.lastname.dirty ||form.lastname.touched) && form.lastname.errors && validated"    
            >
                <ng-container [ngSwitch]="form.lastname.value">
                    <ng-container *ngSwitchCase="''">
                        El apellido es requerido
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        El apellido es invalido
                    </ng-container>
                </ng-container>
            </p>
        </div>
        
        

        <div class="form-group mb-3">
            <label for="email">Mail</label>
            <input type="text" class="form-control" id="email" formControlName="email">
            <p 
                class="bg-danger text-light mt-1 px-2 rounded alert-text"
                *ngIf="(form.email.dirty ||form.email.touched) && form.email.errors && validated"    
            >
                <ng-container [ngSwitch]="form.email.value">
                    <ng-container *ngSwitchCase="''">
                        El mail es requerido
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        El mail es invalido
                    </ng-container>
                </ng-container>
            </p> 
        </div>
        
        

        <div class="form-group mb-3">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password" formControlName="password">
            <p 
            class="bg-danger text-light mt-1 px-2 rounded alert-text"
            *ngIf="(form.password.dirty ||form.password.touched) && form.password.errors && validated"    
        >
            <ng-container [ngSwitch]="form.password.value">
                <ng-container *ngSwitchCase="''">
                    La contraseña es requerida
                </ng-container>
                <ng-container *ngSwitchDefault>
                    La contraseña debe tener entre 5 y 10 caracteres
                </ng-container>
            </ng-container>
        </p>
        </div>
        
    
    
   

    <div class="form-group mb-3">
        <label for="birthday">Fecha de nacimiento</label>
        <input type="date" class="form-control" id="birthday" formControlName="birthday" min="1910-01-01" max="2010-12-31">
        <p 
            class="bg-danger text-light mt-1 px-2 rounded alert-text"
            *ngIf="(form.birthday.dirty ||form.birthday.touched) && form.birthday.errors && validated"    
        >
            <ng-container [ngSwitch]="form.birthday.value">
                <ng-container *ngSwitchDefault>
                    La fecha de nacimiento es invalida
                </ng-container>
            </ng-container>
        </p>
    </div>
    

    <div class="form-group mb-3">
        <label for="cellphone">Teléfono</label>
        <input type="tel" class="form-control" id="cellphone" formControlName="cellphone">
        <p 
            class="bg-danger text-light mt-1 px-2 rounded alert-text"
            *ngIf="(form.cellphone.dirty ||form.cellphone.touched) && form.cellphone.errors && validated"    
        >
            <ng-container [ngSwitch]="form.cellphone.value">
                <ng-container *ngSwitchCase="''">
                    El número de teléfono es requerido
                </ng-container>
                <ng-container *ngSwitchDefault>
                    El número de teléfono es invalido
                </ng-container>
            </ng-container>
        </p>
    </div>

        

        <button type="submit" class="btn btn-secondary">Enviar</button>
    </form>
</div>

-->
<div class="container">
    <div>
        <h3 class="text">Ingresa tus datos para poder registrarte en el sitio</h3>
    </div>
    <form class="gap-3 form-container" [formGroup]="userForm" (ngSubmit)="logIn()">
       
        <div class="form-group mb-3">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <p 
                class="bg-danger text-light mt-1 px-2 rounded alert-text"
                *ngIf="(form.name.dirty ||form.name.touched) && form.name.errors && validated"    
            >
                <ng-container [ngSwitch]="form.name.value">
                    <ng-container *ngSwitchCase="''">
                        El nombre es requerido
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        El nombre es invalido
                    </ng-container>
                </ng-container>
            </p>
       </div>

       <div class="form-group mb-3">
        <label for="lastname">Apellido</label>
        <input type="text" class="form-control" id="lastname" formControlName="lastname">
        <p 
            class="bg-danger text-light mt-1 px-2 rounded alert-text"
            *ngIf="(form.lastname.dirty ||form.lastname.touched) && form.lastname.errors && validated"    
        >
            <ng-container [ngSwitch]="form.lastname.value">
                <ng-container *ngSwitchCase="''">
                    El apellido es requerido
                </ng-container>
                <ng-container *ngSwitchDefault>
                    El apellido es invalido
                </ng-container>
            </ng-container>
        </p>
    </div>

    <div class="form-group mb-3">
        <label for="email">Mail</label>
        <input type="text" class="form-control" id="email" formControlName="email">
        <p 
            class="bg-danger text-light mt-1 px-2 rounded alert-text"
            *ngIf="(form.email.dirty ||form.email.touched) && form.email.errors && validated"    
        >
            <ng-container [ngSwitch]="form.email.value">
                <ng-container *ngSwitchCase="''">
                    El mail es requerido
                </ng-container>
                <ng-container *ngSwitchDefault>
                    El mail es invalido
                </ng-container>
            </ng-container>
        </p> 
    </div>
    
    <div class="form-group mb-3">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" formControlName="password">
        <p 
        class="bg-danger text-light mt-1 px-2 rounded alert-text"
        *ngIf="(form.password.dirty ||form.password.touched) && form.password.errors && validated"    
    >
        <ng-container [ngSwitch]="form.password.value">
            <ng-container *ngSwitchCase="''">
                La contraseña es requerida
            </ng-container>
            <ng-container *ngSwitchDefault>
                La contraseña debe tener entre 5 y 10 caracteres
            </ng-container>
        </ng-container>
    </p>
    </div>

<div class="form-group mb-3">
    <label for="birthday">Fecha de nacimiento</label>
    <input type="date" class="form-control" id="birthday" formControlName="birthday" min="1910-01-01" max="2010-12-31">
    <p 
        class="bg-danger text-light mt-1 px-2 rounded alert-text"
        *ngIf="(form.birthday.dirty ||form.birthday.touched) && form.birthday.errors && validated"    
    >
        <ng-container [ngSwitch]="form.birthday.value">
            <ng-container *ngSwitchDefault>
                La fecha de nacimiento es invalida
            </ng-container>
        </ng-container>
    </p>
</div>

<div class="form-group mb-3">
    <label for="cellphone">Teléfono</label>
    <input type="tel" class="form-control" id="cellphone" formControlName="cellphone">
    <p 
        class="bg-danger text-light mt-1 px-2 rounded alert-text"
        *ngIf="(form.cellphone.dirty ||form.cellphone.touched) && form.cellphone.errors && validated"    
    >
        <ng-container [ngSwitch]="form.cellphone.value">
            <ng-container *ngSwitchCase="''">
                El número de teléfono es requerido
            </ng-container>
            <ng-container *ngSwitchDefault>
                El número de teléfono es invalido
            </ng-container>
        </ng-container>
    </p>
</div>



        
        <button type="submit" class="btn btn-primary btn-lg">Enviar</button>
    </form>
</div>
