<div class="container">
    <div class="row">

        <h3 class="title col-lg-9 col-md-9 col-sm-9 col-xs-9">Habilidades</h3>
    
        <div *ngIf="isLogged" class="editbtn col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <!--NO ESTA PROBADO-->
            <button routerLink="" class="btn btn-edit-elim"><img src="../../../assets/images/pen.svg" alt="editar"></button>
            <!--NO ESTA PROBADO-->
            <button   class="btn btn-edit-elim"><img src="../../../assets/images/trash.svg" alt="eliminar"></button>
          </div>

    </div>

    

    <div class="row">
        <h3 class="subtitle">Soft</h3>
        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3" *ngFor="let item of sk">
            <circle-progress *ngIf="!item.hard"
            [percent]="(item.percentage)"
            [radius]="100"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#DE88EE'"
            [animation]="true"
            [animationDuration]="500"
            [title]="(item.name)"
            [titleFontSize]="'0.8em'"
            [titleColor]="'#DE88EE'"
            [showUnits]="false"
            [showSubtitle]="false"
            [responsive]="true"
        ></circle-progress>
        </div>
    </div>

    <div class="row">
        <h3 class="subtitle">Hard</h3>
        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3" *ngFor="let item of sk">
            <circle-progress *ngIf="item.hard"
            [percent]="(item.percentage)"
            [radius]="100"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#DE88EE'"
            [animation]="true"
            [animationDuration]="500"
            [title]="(item.name)"
            [titleFontSize]="'0.8em'"
            [titleColor]="'#DE88EE'"
            [showUnits]="false"
            [showSubtitle]="false"
            [responsive]="true"
        ></circle-progress>
        </div>
    </div>

    
</div>