<div class="container">
    <h2 class="title">Habilidades</h2>
    <div class="row">
        <h3 class="subtitle">Blandas</h3>
        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3">
            <circle-progress 
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#DE88EE'"
            [animation]="true"
            [animationDuration]="500"
            [title]="'Habilidad blanda'"
            [titleFontSize]="'0.8em'"
            [titleColor]="'#DE88EE'"
            [showUnits]="false"
            [showSubtitle]="false"
            [responsive]="true"
        ></circle-progress>
        </div>
  
       
  
    </div>
  <h3 class="subtitle">Duras</h3>
    <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3">
        <circle-progress 
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#DE88EE'"
            [animation]="true"
            [animationDuration]="500"
            [title]="'Habilidad blanda'"
            [titleFontSize]="'0.8em'"
            [titleColor]="'#DE88EE'"
            [showUnits]="false"
            [showSubtitle]="false"
            [responsive]="true"
        ></circle-progress>
    </div>
  </div>
<!--colores
#27051d color del layout
#900C3F   rgba(144, 12, 63, .5) //fucsia
#581845   rgba(88, 24, 69, .5) // violeta
#797D7F   rgba(121, 125, 127, .5) //gris
#D2B4DE   rgba(210, 180, 222, .5) //lila palido
#DE88EE   rgba(222, 136, 238, .5) //lila
-->

