<div class="container">
    <div class="row">

        <h3 class="title col-lg-9 col-md-9 col-sm-9 col-xs-9">Habilidades</h3>
    
        <div *ngIf="isLogged" class="mb-3 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <button routerLink="/newSki" class="btn btn-edit-elim"><img src="../../../assets/images/plus.svg" alt="agregar habilidad"></button>
        </div>

    </div>    

    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-3" *ngFor="let item of sk">
            <circle-progress 
            [percent]="(item.percentage)"
            [radius]="100"
            [outerStrokeWidth]="20"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#900C3F'"
            [innerStrokeColor]="'#DE88EE'"
            [animation]="true"
            [animationDuration]="500"
            [title]="(item.name)"
            [titleFontSize]="'0.8em'"
            [titleColor]="'#DE88EE'"
            [showUnits]="false"
            [showSubtitle]="false"
            [responsive]="true"
            ></circle-progress>
            
            <div *ngIf="isLogged" class="editbtn">
                <button routerLink="/editSki/{{item.id}}"  class="btn btn-edit-elim"><img src="../../../assets/images/pen.svg" alt="editar"></button>
                <button class="btn btn-edit-elim"><img src="../../../assets/images/trash.svg" alt="eliminar" (click)="deleteSki(item.id)"></button>
            </div>

        </div>
    </div>
</div>