<div class="container">
    <div class="">
        <img class="img-fluid" id="banner" [src]="aboutme.img_banner" alt="Banner">
    </div>
    <div *ngIf="isLogged" class="editbtn">
        <!--NO ESTA PROBADO-->
        <button routerLink="" class="btn btn-edit-elim"><img src="../../../assets/images/pen.svg" alt="editar"></button>
        <!--NO ESTA PROBADO-->
        <button   class="btn btn-edit-elim"><img src="../../../assets/images/trash.svg" alt="eliminar"></button>
      </div>


    <div class="row">
        <div class="cont_img center col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img class="img-fluid" id="perfil" [src]="aboutme.img_profile">
            <div *ngIf="isLogged" class="editbtn">
                <!--NO ESTA PROBADO-->
                <button routerLink="" class="btn btn-edit-elim"><img src="../../../assets/images/pen.svg" alt="editar"></button>
                <!--NO ESTA PROBADO-->
                <button   class="btn btn-edit-elim"><img src="../../../assets/images/trash.svg" alt="eliminar"></button>
              </div>
        </div>


        <div class=" col-xs-12 col-sm-9 col-md-9 col-lg-9">        
            <div class="row">
                <h1 class="text-center title">{{aboutme.name}} {{aboutme.lastname}}</h1>
                <h5 class="text-center subtitle">{{aboutme.title}}</h5>
                <div class="row">
                    <p class="text">
                        {{aboutme.description}}    
                    </p>        
                    
                    <div *ngIf="isLogged" class="editbtn">
                        <!--NO ESTA PROBADO-->
                        <button routerLink="" class="btn btn-edit-elim"><img src="../../../assets/images/pen.svg" alt="editar"></button>
                        <!--NO ESTA PROBADO-->
                        <button   class="btn btn-edit-elim"><img src="../../../assets/images/trash.svg" alt="eliminar"></button>
                      </div>
                </div>
            </div>
        </div>
    </div>    


    

</div>
