@media(min-width:576px){
    #perfil{
        height: auto;
        width: auto;
        border-radius: 100px;
    }    
}
@media(max-width:575px){
    #perfil{
        max-height: 200px;
        max-width: auto;
        border-radius: 100px;
    }    
    .cont-img{
        max-width: 100%;
    }
}
.cont-img{
    margin-bottom: 1vh;
}
#banner{
    width: 90vw;
}
.title{
    color:rgb(192, 180, 192); 
}