<div class="container">
    <div class="">
        <img class="img-fluid" id="banner" [src]="aboutme.img_banner" alt="Banner">
    </div>
    <div *ngIf="isLogged" class="editbtn">
        <button routerLink="/editAboutMe"  class="btn btn-edit-elim"><img src="../../../assets/images/pen.svg" alt="editar"></button>
    </div>


    <div class="row">
        <div class="cont_img center col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img class="img-fluid" id="perfil" [src]="aboutme.img_profile">
        </div>


        <div class=" col-xs-12 col-sm-9 col-md-9 col-lg-9">        
            <div class="row">
                <h1 class="text-center title">{{aboutme.name}} {{aboutme.lastname}}</h1>
                <h5 class="text-center subtitle">{{aboutme.title}}</h5>
                <div class="row">
                    <p class="text">
                        {{aboutme.description}}    
                    </p>        
                </div>
            </div>
        </div>
    </div>    


    

</div>
